.text-rosarivo {
	font-family: "Rosarivo";
}

.text-fatface {
	font-family: "Abril Fatface";
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body {

}

.carousel-inner {
  height: 0;
  padding-bottom: 50%; /* this sets carousel aspect ratio (4:1 here) */
}

p {
	font-family: "Rosarivo";
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    width: 100%;
}